<?xml version="1.0"?>
<config>
	<modules>
		<Wiser_Search>
			<version>0.1.1</version>
		</Wiser_Search>
	</modules>
	<global>
	 <helpers>
        <wiser_search>
           <class>Wiser_Search_Helper</class>
        </wiser_search>
     </helpers>
	 <events>
		<controller_action_layout_render_before>
		  <observers>
			<search>
			  <type>singleton</type>
			  <class>Wiser_Search_Model_Observer</class>
			  <method>validateConfiguration</method>
			</search>
		  </observers>
		</controller_action_layout_render_before>
		<catalog_product_save_commit_after>
		  <observers>
			<search>
			  <type>singleton</type>
			  <class>Wiser_Search_Model_Observer</class>
			  <method>productAfterSave</method>
			</search>
		  </observers>
		</catalog_product_save_commit_after>
		<catalog_product_delete_after>
		  <observers>
			<search>
			  <type>singleton</type>
			  <class>Wiser_Search_Model_Observer</class>
			  <method>productAfterDelete</method>
			</search>
		  </observers>
		</catalog_product_delete_after>
		
		<clean_catalog_images_cache_after>
			<observers>
				<search>
				  <type>singleton</type>
				  <class>Wiser_Search_Model_Observer</class>
				  <method>cacheRefreshType</method>
				</search>
			  </observers>
		</clean_catalog_images_cache_after>
	  </events>
	</global>
	<default>
        <wiser_search>
            <wiser_search_group>
                <extension_version>1.0.5</extension_version>
            </wiser_search_group>
        </wiser_search>
    </default>
    <frontend>
        <routers>
            <wiser_search>
                <use>standard</use>
                <args>
                    <module>Wiser_Search</module>
                    <frontName>wiser_search</frontName><!-- url name /{frontname}/ -->
                </args>
            </wiser_search>
        </routers>
        <layout>
            <updates>
                <wiser_search> <!--module="Wiser_Search" -->
                    <file>wiser_search.xml</file>
                </wiser_search>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<wiser_search>
											<title>Wiser All</title>
										</wiser_search>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
