<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <wiser>
            <label>Wiser</label>
            <sort_order>100</sort_order>
        </wiser>
    </tabs>
    <sections>
        <wiser_search>
            <label>Wiser Search</label>
            <tab>wiser</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <wiser_search_group translate="label" module="wiser_search">
                    <label>General</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<extension_version translate="label">
							<label>Version:</label>
							<frontend_type>label</frontend_type>
							<comment><![CDATA[ Go to <a target="_blank" href="https://app.wiser.nl/">https://app.wiser.nl/</a> for further configuration ]]></comment>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</extension_version>
                        <installation_status translate="label">
							<label>Installation status:</label>
							<frontend_type>label</frontend_type>
							<comment><![CDATA[ Current installation status for Wiser Search, installation might take up to one hour. ]]></comment>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</installation_status>
						<disabled translate="label">
							<label>Disabled:</label>
							<comment><![CDATA[ Disables Wiser Search ]]></comment>
							<frontend_type>select</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</disabled>
                        <customer_key translate="label">
                            <label>Customer Key</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ The key from Wiser Search ]]></comment>
                            <sort_order>0</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </customer_key>
						<api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ ]]></comment>
                            <sort_order>0</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
						<script translate="label">
                            <label>script</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ ]]></comment>
                            <sort_order>0</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </script>
						<webhook translate="label">
                            <label>webhook</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ ]]></comment>
                            <sort_order>0</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </webhook>
						<installed translate="label">
                            <label>Installed</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[]]></comment>
                            <sort_order>0</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </installed>
                    </fields>
                </wiser_search_group>
		   </groups>
	   </wiser_search>
    </sections>
</config>